.card {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 25px;

  background-color: var(--contrastOnBody-2ec0cb34);

  transition: color 200ms ease,background-color 200ms ease;
}

.card:hover {
  background-color: var(--text-60758858);
  color: var(--body-00fcd25f);
}

.card.spaced {
  margin-top: 20px;
  margin-bottom: 20px;
}

.h3 {
  margin-top: 0px;
  font-size: 25px;
  line-height: 1.3;
  font-weight: 600;
}

.p {
  margin-bottom: 20px;
  font-weight: 400;
}

.p.mb-0 {
  margin-bottom: 0px;
}

.p.mb-40 {
  margin-bottom: 40px;
}