.section {
  margin-top: 100px;
  padding-right: 5%;
  padding-left: 5%;
}

.section.dark {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 50px;
  background-color: var(--text-60758858);
  color: var(--body-00fcd25f);
}

.section.dark.footer {
  border-radius: 0px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.container.mw-800 {
  max-width: 800px;
}

.grid_section {
  align-items: center;
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid_section {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  .grid_section.reverse {
    flex-direction: column-reverse;
  }
}

.image_hero {
  width: 100%;
  height: 500px;
  border-radius: 50px;
  object-fit: cover;
}

.wrapper_left-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.wrapper_left-text.mb-40 {
  margin-bottom: 40px;
}

.wrapper_left-text.flex-gap_20 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.h2 {
  margin-top: 0px;
  font-size: 35px;
  line-height: 1.3;
  font-weight: 700;
}

.h2.center {
  text-align: center;
}

.p {
  margin-bottom: 20px;
  font-weight: 400;
}

.p.mb-0 {
  margin-bottom: 0px;
}

.p.mb-40 {
  margin-bottom: 40px;
}

.wrapper_2-buttons {
  display: flex;
  align-items: center;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media screen and (max-width: 479px) {
  .wrapper_2-buttons {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
}

.button {
  padding: 13px 25px;

  border: 2px solid var(--main-9997ce6c);
  border-radius: 50px;

  background-color: var(--main-9997ce6c);

  transition: border-color 200ms ease,background-color 200ms ease;

  color: var(--body-00fcd25f);
  font-weight: 500;
}

.button:hover {
  border-color: var(--text-60758858);
  background-color: var(--text-60758858);
}

@media screen and (max-width: 479px) {
  .button {
    text-align: center;
  }
}

.button.secondary {
  border-color: hsla(22, 0.00%, 100.00%, 1.00);
  background-color: hsla(24, 0.00%, 100.00%, 1.00);
  box-shadow: 0 1px 20px -9px rgba(0,0,0,0.2);
  color: var(--text-60758858);
}

.button.secondary:hover {
  border-color: var(--text-60758858);
}

.button.nav {
  margin-left: 10px;
  padding: 10px 20px;
  border-color: var(--text-60758858);
  font-size: 14px;
}

.button.nav:hover {
  border-color: var(--body-00fcd25f);
}

.button.fake {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#w-node-_6489429f-9402-d770-42f7-e7892c5754d0-2c5754cd {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_6489429f-9402-d770-42f7-e7892c5754d1-2c5754cd {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}