.section {
  margin-top: 100px;
  padding-right: 5%;
  padding-left: 5%;
}

.section.dark {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 50px;
  background-color: var(--text-60758858);
  color: var(--body-00fcd25f);
}

.section.dark.footer {
  border-radius: 0px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.container.mw-800 {
  max-width: 800px;
}

.footer-top {
  align-items: start;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .footer-top {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .footer-top {
    grid-row-gap: 3rem;
  }
}

.footer-top_left {
  display: flex;
  flex-direction: column;
}

.navbar_logo-link {
  max-width: 140px;
  padding-top: 5px;
  padding-left: 0px;
}

.logo-code {
  color: hsla(225, 0.00%, 100.00%, 1.00);
}

.logo-code.grayscale {
  opacity: 0.7;
  filter: grayscale(100%);
  transition: all 200ms ease;
}

.logo-code.grayscale:hover {
  opacity: 1;
  filter: grayscale(0%);
}

@media screen and (max-width: 479px) {
  .logo-code.grayscale.hide-mob {
    display: none;
  }
}

.spacer-20 {
  width: 100%;
  height: 20px;
}

.p {
  margin-bottom: 20px;
  font-weight: 400;
}

.p.mb-0 {
  margin-bottom: 0px;
}

.p.mb-40 {
  margin-bottom: 40px;
}

.spacer-30 {
  width: 100%;
  height: 30px;
}

.social_link-wrap {
  display: grid;
  justify-items: start;
  align-items: start;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0rem;
  grid-template-columns: max-content;
  grid-template-rows: auto;

  white-space: normal;
}

.social-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.social-icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;

  border-radius: 50px;

  background-color: var(--main-9997ce6c);

  transition: all 200ms ease;

  color: var(--body-00fcd25f);
}

.social-icon:hover {
  color: var(--text-60758858);
}

.footer_items-grid {
  align-items: start;
  grid-column-gap: 3vw;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .footer_items-grid {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: flex-start;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.footer-link {
  width: auto;
  min-width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px none hsla(0, 0.00%, 0.00%, 0.00);

  transition: color 200ms ease;

  color: hsla(243, 0.00%, 100.00%, 1.00);
  font-weight: 400;
  text-decoration: none;
}

.footer-link:hover {
  border-bottom-style: none;
  border-bottom-color: hsla(0, 0.00%, 0.00%, 1.00);
  opacity: 1;
  color: var(--main-9997ce6c);
}

.spacer-40 {
  width: 100%;
  height: 40px;
}

.footer-bot {
  display: flex;
  margin-top: 0px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer-bot {
    padding-bottom: 1rem;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}