.navbar {
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;

  padding-right: 5%;
  padding-left: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  border-bottom: 2px solid black;

  background-color: var(--text-60758858);
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 991px) {
  .mobile-nav {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 9999;

    display: flex;
    height: 70px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;

    background-color: var(--text-60758858);
  }
}

.brand {
  max-width: 100px;
  padding: 15px 0px;
}

@media screen and (max-width: 991px) {
  .brand.in-nav {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .animated-hamburger {
    width: 25px;
    cursor: pointer;
  }
}

@media screen and (max-width: 991px) {
  .hamburger-line {
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: var(--body-00fcd25f);
  }
}

@media screen and (max-width: 991px) {
  .hamburger-line.mid {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

._02-nav-menu {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9999;

  display: flex;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;

  background-color: var(--text-60758858);
}

@media screen and (max-width: 991px) {
  ._02-nav-menu {
    position: fixed;
    left: auto;
    top: 60px;
    right: 0%;
    bottom: 0px;
    z-index: 999;

    display: none;
    width: 100%;
    height: auto;
    max-width: 250px;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 40px;
    flex-direction: column;
    grid-row-gap: 30px;

    background-color: var(--text-60758858);

    color: var(--body-00fcd25f);
  }
}

@media screen and (max-width: 479px) {
  ._02-nav-menu {
    margin-bottom: 0px;
  }
}

.nav-menu-center {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .nav-menu-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    text-align: center;
  }
}

.nav-link {
  padding-right: 15px;
  padding-left: 15px;

  transition: color 200ms ease;

  color: var(--body-00fcd25f);
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--main-9997ce6c);
}

@media screen and (max-width: 991px) {
  .nav-link {
    padding-right: 0px;
    padding-left: 0px;
    color: var(--body-00fcd25f);
    font-size: 20px;
  }
}

.nav-button-wrap {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .nav-button-wrap {
    flex-direction: column;
    grid-row-gap: 30px;
  }
}

.shadow {
  display: none;
}

@media screen and (max-width: 991px) {
  .shadow {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 998;

    display: none;

    background-color: hsla(0, 0.00%, 0.00%, 0.20);

    backdrop-filter: blur(2px);
  }
}