.section {
  margin-top: 100px;
  padding-right: 5%;
  padding-left: 5%;
}

.section.dark {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 50px;
  background-color: var(--text-60758858);
  color: var(--body-00fcd25f);
}

.section.dark.footer {
  border-radius: 0px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.container.mw-800 {
  max-width: 800px;
}

.wrapper_center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrapper_center-text.mb-40 {
  margin-bottom: 40px;
}

.h2 {
  margin-top: 0px;
  font-size: 35px;
  line-height: 1.3;
  font-weight: 700;
}

.h2.center {
  text-align: center;
}

.p {
  margin-bottom: 20px;
  font-weight: 400;
}

.p.mb-0 {
  margin-bottom: 0px;
}

.p.mb-40 {
  margin-bottom: 40px;
}

.grid_cards {
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid_cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid_cards {
    grid-template-columns: 1fr;
  }
}

.card_pricing {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 25px;

  background-color: var(--contrastOnBody-2ec0cb34);

  color: var(--text-60758858);
}

.card_pricing.featured {
  position: relative;
  border: 2px solid black;
}

.price {
  margin-bottom: 10px;
  font-size: 35px;
}

.h3 {
  margin-top: 0px;
  font-size: 25px;
  line-height: 1.3;
  font-weight: 600;
}

.feature-list {
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  align-content: start;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
}

@media screen and (max-width: 767px) {
  .feature-list {
    min-height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  .feature-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    text-align: left;
  }
}

.feature-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.icon-3 {
  display: flex;
  overflow: hidden;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.feature-label {
  font-weight: 400;
}

.button {
  padding: 13px 25px;

  border: 2px solid var(--main-9997ce6c);
  border-radius: 50px;

  background-color: var(--main-9997ce6c);

  transition: border-color 200ms ease,background-color 200ms ease;

  color: var(--body-00fcd25f);
  font-weight: 500;
}

.button:hover {
  border-color: var(--text-60758858);
  background-color: var(--text-60758858);
}

@media screen and (max-width: 479px) {
  .button {
    text-align: center;
  }
}

.button.secondary {
  border-color: hsla(22, 0.00%, 100.00%, 1.00);
  background-color: hsla(24, 0.00%, 100.00%, 1.00);
  box-shadow: 0 1px 20px -9px rgba(0,0,0,0.2);
  color: var(--text-60758858);
}

.button.secondary:hover {
  border-color: var(--text-60758858);
}

.button.nav {
  margin-left: 10px;
  padding: 10px 20px;
  border-color: var(--text-60758858);
  font-size: 14px;
}

.button.nav:hover {
  border-color: var(--body-00fcd25f);
}

.button.fake {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.featured-text {
  position: absolute;
  left: auto;
  top: -15px;
  right: auto;
  bottom: auto;

  padding: 5px 15px;

  border-radius: 50px;

  background-color: var(--text-60758858);

  color: var(--body-00fcd25f);
  font-size: 14px;
  font-weight: 600;
}

#w-node-_955ecdb6-d1c5-20ac-27ed-c6784ab4889c-4ab48894 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_955ecdb6-d1c5-20ac-27ed-c6784ab488b4-4ab48894 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_955ecdb6-d1c5-20ac-27ed-c6784ab488d2-4ab48894 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}