.section {
  margin-top: 100px;
  padding-right: 5%;
  padding-left: 5%;
}

.section.dark {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 50px;
  background-color: var(--text-60758858);
  color: var(--body-00fcd25f);
}

.section.dark.footer {
  border-radius: 0px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.container.mw-800 {
  max-width: 800px;
}

.grid_values {
  position: relative;
  align-items: start;
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid_values {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid_values {
    grid-template-columns: 1fr;
  }
}

.wrapper_left-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.wrapper_left-text.mb-40 {
  margin-bottom: 40px;
}

.wrapper_left-text.flex-gap_20 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.h2 {
  margin-top: 0px;
  font-size: 35px;
  line-height: 1.3;
  font-weight: 700;
}

.h2.center {
  text-align: center;
}

.p {
  margin-bottom: 20px;
  font-weight: 400;
}

.p.mb-0 {
  margin-bottom: 0px;
}

.p.mb-40 {
  margin-bottom: 40px;
}

.value-item {
  padding: 40px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 18.67%, 1.00);
  border-radius: 25px;

  background-color: var(--text-60758858);

  transition: color 200ms ease,background-color 200ms ease;
}

.value-item:hover {
  background-color: var(--body-00fcd25f);
  color: var(--text-60758858);
}

.h3 {
  margin-top: 0px;
  font-size: 25px;
  line-height: 1.3;
  font-weight: 600;
}

.image_stretch {
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .image_stretch {
    max-height: 500px;
  }
}

.image_stretch.sticky {
  position: sticky;
  top: 100px;
}

#w-node-ea0b925a-841c-29b9-3f52-270a7a8fc92f-7a8fc92c {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-ea0b925a-841c-29b9-3f52-270a7a8fc949-7a8fc92c {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}